* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots-container {
    display: flex;
}

.dots {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid black;
    margin: 3rem;
    transition: all .3s ease-in-out;
}

.dots:hover {
    transform: scale(1.3);
}

.dot-1 {
    background-color: white;
}

.dot-2 {
    background-color: coral;
}

.dot-3 {
    background-color: cornflowerblue;
}

.dot-4 {
    background-color: lightgreen;
}